    <template>

     <!--     <style>
        .input {
            border: 4px solid red;
            padding: 10px;
            border-radius: 3px;
            display: inline-block;


        }
        .add {
            background-color:blue;
            color:white;
            padding: 10px;
            border-radius: 3px;
            display: inline-block;


        }
        .submit {
            background-color:blue;
            color:white;
            padding: 10px;
            border-radius: 3px;
            display: inline-block;

        }
        .item{
            margin:10px;
            padding:10px;
            border: 1px solid black;
            border-radius: 3px;
            display: inline-block;
        }
        .formstyle{
            display:block;
        }

        </style> -->
        <form>
           <div class="formstyle">
                <input type="text" class="input">
                <button class="add">add</button>
                <button class="submit">submit</button>
            <div>
        </form>
            <div class="list"></div>

    </template>


<script>
    document.registerElement('hello-world', {
    prototype: Object.create(HTMLElement.prototype, {
        createdCallback: {
            enumerable: false,
            value: function () {
                var importDocument = document.querySelector('#importId').import
                var thisDoc = (importDocument.querySelector('script') || importDocument.querySelector('script')).ownerDocument;
                var template = thisDoc.querySelector('template');

                var clone = thisDoc.importNode(template.content, true);
                var shadowRoot = this.createShadowRoot();

                shadowRoot.appendChild(clone);


                var submit = shadowRoot.querySelector('.submit');
                submit.addEventListener('click', function(e) {
                    var list = shadowRoot.querySelector('.list').children
                    var array = []
                    for (var i =0; i < list.length; i++){
                        array.push(list[i].innerText)
                    }
                    alert(array);
                });
                var items =[];
                var add = shadowRoot.querySelector('.add');
                add.addEventListener('click', function(e){
                    var list = shadowRoot.querySelector('.list')
                    debugger;
                    var val = shadowRoot.querySelector('input').value;
                    if(val !== '') {
                        items.push(val);
                        var item = document.createElement('div');
                        item.name = val;
                        item.className = 'item';
                        item.innerHTML = val;
                        list.appendChild(item);

                    }
                });
            }
        }
    })
})

</script>
