<template>
  <form>
    <div class="formstyle">
      <input type="text" class="input">
      <button type="button" class="add">add</button>
      <button type="button" class="submit">submit</button>
    </div>
  </form>
  <div class="list"></div>


</template>

<script>
  document.registerElement('hello-world', {
    prototype: Object.create(HTMLElement.prototype, {
      createdCallback: {
        enumerable: false,
        value: function () {
          //
          var importDocument = document.querySelector('#importId').import;
          //
          var thisDoc = importDocument.querySelector('script').ownerDocument;
          //
          var template = thisDoc.querySelector('template');
          //
          var shadowRoot = this.createShadowRoot();
          //
          var clone = thisDoc.importNode(template.content, true);
          //
          shadowRoot.appendChild(clone);

          var add = shadowRoot.querySelector('.add');
          var submit = shadowRoot.querySelector('.submit');

          var items = [];
          var itemIdx = 0;

          submit.onclick = function() {
            var list = shadowRoot.querySelector('.list')
            // this is what could be submitted...
            alert(items);

            items =[];
            list.innerHTML = "";
            itemIdx = 0;
          };

          add.onclick = function() {
            var list = shadowRoot.querySelector('.list');
            var input = shadowRoot.querySelector('input');
            var val = input.value;
            var item;
            if(val !== '') {
              items.push(val);

              item = document.createElement('div');
              item.name = val;
              item.className = 'item';
              item.innerHTML = val;
              input.value = "";
              removeX = document.createElement('span');
              removeX.innerHTML = "x"
              removeX.id = itemIdx;
              removeX.addEventListener('click', removeItem);
              item.appendChild(removeX);


              list.appendChild(item);
              itemIdx += 1;
            }
          };

          var removeItem = function(e) {
            idx = e.currentTarget.id;
            items.splice(Number(idx),1);
            e.currentTarget.parentElement.remove();
          }

        }
      }
    })
  });
</script>
